<h1>Pages</h1>

<%= link_to 'Add a new page', new_page_path %>

<h2>Published</h2>

<table>

  <thead>
    <tr>
      <th>Title</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% for page in @published_pages %>
      <tr>
        <td><%= link_to page.title, page %></td>
        <td>
          <%= link_to 'Edit', [:edit, page] %></td>
          <%= link_to 'Delete', page, :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>

<h2>Draft</h2>

<table>

  <thead>
    <tr>
      <th>Title</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% for page in @unpublished_pages %>
      <tr>
        <td><%= page.title %></td>
        <td>
          <%= link_to 'Edit', [:edit, page] %></td>
          <%= link_to 'Delete', page, :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>
